<div class="text-center">

  <div class="container jumbotron text-center">
    <h1>Binary system phase calculator</h1>
  </div>
  <div class="container bg-warning">
    <br><hr>
    <div>
      <h1>Enter ephemeris...</h1>
      <h3>Enter period:
        <input type="number" #period (keyup.enter)="onChangePer(period.value)">
        Unit:<select class="" name="selPerUnit" #unit (change)="onChangePeriodUnit(unit.value)">
          <option value="none" selected>Select unit</option>
          <option value="min">min</option>
          <option value="hour">hour</option>
          <option value="day">day</option>
          <option value="month">month</option>
          <option value="year">year</option>
        </select>
      </h3>
      <h3>Enter zero point (JD):
        <input type="number" #zp (keyup.enter)="onChangeZp(zp.value)">
      </h3>
    </div>

    <div>
      <h1>... or select a binary system</h1>
        <h3>
          <select class="" name="selBinSys" #binsys (change)="getBinSys(binsys.value)">
            <option value="none" selected>Select a system</option>
            <option value="etaCar">eta Car</option>
            <option value="wr140">WR 140</option>
            <option value="wr104">WR 104</option>
          </select>
        </h3>
    </div>
  </div>

  <div class="container bg-success">
    <br><hr>
    <div>
      <h1>
        Pick a date and time...
      </h1>
      <div>
        <h2>Date/Time pickers go here</h2>

        <div class="calendar">
          <datepicker
              [(ngModel)]="myDate"
              [showWeeks]="false"
              >
          </datepicker>
        </div>

        <timepicker
            [(ngModel)]="myTime"
            [showSpinners]="true"
            [showMeridian]="false"
            >
        </timepicker>
        <br>
        <button class="btn btn-lg btn-success" (click)="onClickDate()">
          Apply date/time
        </button>

      </div>
    </div>

    <div>
      <h1>
        ... or enter the Julian date
      </h1>
      <input [value]="myJD" type="number" #selJD (keyup.enter)="onClickJD(selJD.value)">
      <br>
      <button class="btn btn-lg btn-success" (click)="onClickJD(selJD.value)">
        Apply JD
      </button>

    </div>

  </div>

  <div class="container">
    <br><hr>
    <div>
      <h1>
        Model
      </h1>
      <div>
        <h2>Selected date:
          {{ myCurrTimeString }}
          (JD@UTC={{ myJD }})
        </h2>
        <br>
        <h2>Displayed Period and unit: {{ displayedPer }} {{ myUnit }}</h2>
        <hr>
        <h2>Displayed Period converted to days: {{ myPer }}</h2>
        <h2>Zero Point: {{ myZp }}</h2>
        <h2>Phase: {{ myPhase }}</h2>
        <br>
        <h2>Selected binary system: {{ binsys.value }}</h2>
      </div>
    </div>
  </div>

</div>
